@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap");
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');


h1 {
  text-align: center;
  font-size: 40px;
  margin:20px;
  background: linear-gradient(270deg, #3adfb4, #f38cc2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // background-size: 400% 400%;
  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}
p {
  text-align: justify;
  font-size: 14px;
  margin:20px;
  color: #946E83;
}
.big-card{
width: 50%;
border:1px solid black;
height:70vh;
}

.carousel-inner {
  height:50%;
}
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.cards{
  top: 3%;
  position: sticky;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding:15px;
  justify-content: center;
  text-align:center;
}

.caro{
  width:100%;
  height:25%;
}

.text{
  display:flex;
  justify-content: center;

}
.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.navbar-light .navbar-nav .nav-link {
  color: #946E83 ;
}
.navbar-light .navbar-nav .nav-link .active{
  color: #946E83 ;
}
.navbar-lewagon {
  justify-content: space-between;
  background: none;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.footer {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
